<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js" type="text/javascript" charset="uft-8"></script>
</head>

<body>
  <div id="app">
      <p>用户名：{{username}}</p>
      <!-- v-model是双向绑定，数据变化会引起页面变化，页面变化会引起数据变化 -->
      <input type="text" v-model="username">
      <!-- v-bind 是单向绑定，只有数据变化会引起页面变化 -->
      <p><input type="text" :value="username"></p>
  </div>
  <div v-if="data_val === 'A'">优秀</div>
  <div v-else-if="data_val === 'B'">良好</div>
  <div v-else-if="data_val === 'C'">及格</div>
  <div v-else>差</div>
 <script>
      const vm = new Vue({
          el:'#app',
          data: {
              username:"嘟嘟",
              data_val:'A',
          }
      })
 </script>
</body>

</html>
